body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;


}


.imgs{
  width: 150px;
  height: 150px;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  
}
.filters{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}
.flex{
  display:flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}